@model SuperDrogueriaFenix.Models.Categoria

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Estas seguro que deseas eliminar?</h3>
<section class="content jumbotron">
    <div>
        <h4>Categoria</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Activo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FechaRegistro)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdCategoria" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index"class="btn btn-secondary btn-sm">Volver atrás</a>
        </form>
    </div>
</section>