@model IEnumerable<SuperDrogueriaFenix.Models.ProductoTienda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTienda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTienda)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdProductoTienda">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdProductoTienda">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdProductoTienda">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
